.report-btn {
    border-radius: 5px;
    color: white;
    display: inline-block;
    width: 150px;
    padding: 1px 0 2px;
    border: none;
    font-size: 1em;
    outline: none;
    cursor: pointer;
}

.report-btn.add {
    background-color: green;
}

.report-btn.add:hover {
    background-color: forestgreen;
}

.report-btn.add:active {
    background-color: darkgreen;
}

.report-btn.remove {
    background-color: red;
}

.report-btn.remove:hover {
    background-color: indianred;
}

.report-btn.remove:active {
    background-color: darkred;
}


